# First Data Check
---

In [8]:
# create entry points to spark
try:
    sc.stop()
except:
    pass
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
sc=SparkContext()
spark = SparkSession(sparkContext=sc)

23/04/06 12:48:23 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/04/06 12:48:23 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

## Import Data

Data source: https://www.kaggle.com/c/titanic/data

In [9]:
titanic = spark.read.csv('data/SparkData/kaggle-titanic-train.csv', header=True, inferSchema=True)
titanic.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

## Data type

First, we want to check if string and numeric variables are imported as we expect.

In [10]:
titanic.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

## Data summary

### Number of variables

In [11]:
len(titanic.columns)

12

### Number of observations

In [12]:
titanic.count()

891

### Sumarise columns

In [13]:
def describe_columns(df):
    for i in df.columns:
        print('Column: ' + i)
        titanic.select(i).describe().show()

In [14]:
describe_columns(titanic)

Column: PassengerId
+-------+-----------------+
|summary|      PassengerId|
+-------+-----------------+
|  count|              891|
|   mean|            446.0|
| stddev|257.3538420152301|
|    min|                1|
|    max|              891|
+-------+-----------------+

Column: Survived
+-------+-------------------+
|summary|           Survived|
+-------+-------------------+
|  count|                891|
|   mean| 0.3838383838383838|
| stddev|0.48659245426485753|
|    min|                  0|
|    max|                  1|
+-------+-------------------+

Column: Pclass
+-------+------------------+
|summary|            Pclass|
+-------+------------------+
|  count|               891|
|   mean| 2.308641975308642|
| stddev|0.8360712409770491|
|    min|                 1|
|    max|                 3|
+-------+------------------+

Column: Name
+-------+--------------------+
|summary|                Name|
+-------+--------------------+
|  count|                 891|
|   mean|                null|
| stddev|                null|
|    min|"Andersson, Mr. A...|
|    max|van Melkebeke, Mr...|
+-------+--------------------+

Column: Sex
+-------+------+
|summary|   Sex|
+-------+------+
|  count|   891|
|   mean|  null|
| stddev|  null|
|    min|female|
|    max|  male|
+-------+------+

Column: Age
+-------+------------------+
|summary|               Age|
+-------+------------------+
|  count|               714|
|   mean| 29.69911764705882|
| stddev|14.526497332334035|
|    min|              0.42|
|    max|              80.0|
+-------+------------------+

Column: SibSp
+-------+------------------+
|summary|             SibSp|
+-------+------------------+
|  count|               891|
|   mean|0.5230078563411896|
| stddev|1.1027434322934315|
|    min|                 0|
|    max|                 8|
+-------+------------------+

Column: Parch
+-------+-------------------+
|summary|              Parch|
+-------+-------------------+
|  count|                891|
|   mean|0.38159371492704824|
| stddev| 0.8060572211299488|
|    min|                  0|
|    max|                  6|
+-------+-------------------+

Column: Ticket
+-------+------------------+
|summary|            Ticket|
+-------+------------------+
|  count|               891|
|   mean|260318.54916792738|
| stddev|471609.26868834975|
|    min|            110152|
|    max|         WE/P 5735|
+-------+------------------+

Column: Fare
+-------+-----------------+
|summary|             Fare|
+-------+-----------------+
|  count|              891|
|   mean| 32.2042079685746|
| stddev|49.69342859718089|
|    min|              0.0|
|    max|         512.3292|
+-------+-----------------+

Column: Cabin
+-------+-----+
|summary|Cabin|
+-------+-----+
|  count|  204|
|   mean| null|
| stddev| null|
|    min|  A10|
|    max|    T|
+-------+-----+

Column: Embarked
+-------+--------+
|summary|Embarked|
+-------+--------+
|  count|     889|
|   mean|    null|
| stddev|    null|
|    min|       C|
|    max|       S|
+-------+--------+

### Find columns with missing values

In [15]:
def find_missing_values_columns(df):
    nrow = df.count()
    for v in df.columns:
        summary_df = df.select(v).describe()
        v_count = int(summary_df.collect()[0][v])
        if v_count < nrow:
            missing_percentage = (1 - v_count/nrow) * 100
            print("Total observations: " + str(nrow) + "\n"
                 "Total observations of " + v + ": " + str(v_count) + "\n"
                 "Percentage of missing values: " + str(missing_percentage) + "%" + "\n"
                 "----------------------------")

In [16]:
find_missing_values_columns(titanic)

Total observations: 891
Total observations of Age: 714
Percentage of missing values: 19.865319865319865%
----------------------------
Total observations: 891
Total observations of Cabin: 204
Percentage of missing values: 77.1043771043771%
----------------------------
Total observations: 891
Total observations of Embarked: 889
Percentage of missing values: 0.22446689113355678%
----------------------------

In [18]:
titanic.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [22]:
titanic.select('Ticket').collect()

[Row(Ticket='A/5 21171'),
 Row(Ticket='PC 17599'),
 Row(Ticket='STON/O2. 3101282'),
 Row(Ticket='113803'),
 Row(Ticket='373450'),
 Row(Ticket='330877'),
 Row(Ticket='17463'),
 Row(Ticket='349909'),
 Row(Ticket='347742'),
 Row(Ticket='237736'),
 Row(Ticket='PP 9549'),
 Row(Ticket='113783'),
 Row(Ticket='A/5. 2151'),
 Row(Ticket='347082'),
 Row(Ticket='350406'),
 Row(Ticket='248706'),
 Row(Ticket='382652'),
 Row(Ticket='244373'),
 Row(Ticket='345763'),
 Row(Ticket='2649'),
 Row(Ticket='239865'),
 Row(Ticket='248698'),
 Row(Ticket='330923'),
 Row(Ticket='113788'),
 Row(Ticket='349909'),
 Row(Ticket='347077'),
 Row(Ticket='2631'),
 Row(Ticket='19950'),
 Row(Ticket='330959'),
 Row(Ticket='349216'),
 Row(Ticket='PC 17601'),
 Row(Ticket='PC 17569'),
 Row(Ticket='335677'),
 Row(Ticket='C.A. 24579'),
 Row(Ticket='PC 17604'),
 Row(Ticket='113789'),
 Row(Ticket='2677'),
 Row(Ticket='A./5. 2152'),
 Row(Ticket='345764'),
 Row(Ticket='2651'),
 Row(Ticket='7546'),
 Row(Ticket='11668'),
 Row(Ticket='349253'),
 Row(Ticket='SC/Paris 2123'),
 Row(Ticket='330958'),
 Row(Ticket='S.C./A.4. 23567'),
 Row(Ticket='370371'),
 Row(Ticket='14311'),
 Row(Ticket='2662'),
 Row(Ticket='349237'),
 Row(Ticket='3101295'),
 Row(Ticket='A/4. 39886'),
 Row(Ticket='PC 17572'),
 Row(Ticket='2926'),
 Row(Ticket='113509'),
 Row(Ticket='19947'),
 Row(Ticket='C.A. 31026'),
 Row(Ticket='2697'),
 Row(Ticket='C.A. 34651'),
 Row(Ticket='CA 2144'),
 Row(Ticket='2669'),
 Row(Ticket='113572'),
 Row(Ticket='36973'),
 Row(Ticket='347088'),
 Row(Ticket='PC 17605'),
 Row(Ticket='2661'),
 Row(Ticket='C.A. 29395'),
 Row(Ticket='S.P. 3464'),
 Row(Ticket='3101281'),
 Row(Ticket='315151'),
 Row(Ticket='C.A. 33111'),
 Row(Ticket='CA 2144'),
 Row(Ticket='S.O.C. 14879'),
 Row(Ticket='2680'),
 Row(Ticket='1601'),
 Row(Ticket='348123'),
 Row(Ticket='349208'),
 Row(Ticket='374746'),
 Row(Ticket='248738'),
 Row(Ticket='364516'),
 Row(Ticket='345767'),
 Row(Ticket='345779'),
 Row(Ticket='330932'),
 Row(Ticket='113059'),
 Row(Ticket='SO/C 14885'),
 Row(Ticket='3101278'),
 Row(Ticket='W./C. 6608'),
 Row(Ticket='SOTON/OQ 392086'),
 Row(Ticket='19950'),
 Row(Ticket='343275'),
 Row(Ticket='343276'),
 Row(Ticket='347466'),
 Row(Ticket='W.E.P. 5734'),
 Row(Ticket='C.A. 2315'),
 Row(Ticket='364500'),
 Row(Ticket='374910'),
 Row(Ticket='PC 17754'),
 Row(Ticket='PC 17759'),
 Row(Ticket='231919'),
 Row(Ticket='244367'),
 Row(Ticket='349245'),
 Row(Ticket='349215'),
 Row(Ticket='35281'),
 Row(Ticket='7540'),
 Row(Ticket='3101276'),
 Row(Ticket='349207'),
 Row(Ticket='343120'),
 Row(Ticket='312991'),
 Row(Ticket='349249'),
 Row(Ticket='371110'),
 Row(Ticket='110465'),
 Row(Ticket='2665'),
 Row(Ticket='324669'),
 Row(Ticket='4136'),
 Row(Ticket='2627'),
 Row(Ticket='STON/O 2. 3101294'),
 Row(Ticket='370369'),
 Row(Ticket='11668'),
 Row(Ticket='PC 17558'),
 Row(Ticket='347082'),
 Row(Ticket='S.O.C. 14879'),
 Row(Ticket='A4. 54510'),
 Row(Ticket='237736'),
 Row(Ticket='27267'),
 Row(Ticket='35281'),
 Row(Ticket='2651'),
 Row(Ticket='370372'),
 Row(Ticket='C 17369'),
 Row(Ticket='2668'),
 Row(Ticket='347061'),
 Row(Ticket='349241'),
 Row(Ticket='SOTON/O.Q. 3101307'),
 Row(Ticket='A/5. 3337'),
 Row(Ticket='228414'),
 Row(Ticket='C.A. 29178'),
 Row(Ticket='SC/PARIS 2133'),
 Row(Ticket='11752'),
 Row(Ticket='113803'),
 Row(Ticket='7534'),
 Row(Ticket='PC 17593'),
 Row(Ticket='2678'),
 Row(Ticket='347081'),
 Row(Ticket='STON/O2. 3101279'),
 Row(Ticket='365222'),
 Row(Ticket='231945'),
 Row(Ticket='C.A. 33112'),
 Row(Ticket='350043'),
 Row(Ticket='W./C. 6608'),
 Row(Ticket='230080'),
 Row(Ticket='244310'),
 Row(Ticket='S.O.P. 1166'),
 Row(Ticket='113776'),
 Row(Ticket='A.5. 11206'),
 Row(Ticket='A/5. 851'),
 Row(Ticket='Fa 265302'),
 Row(Ticket='PC 17597'),
 Row(Ticket='35851'),
 Row(Ticket='SOTON/OQ 392090'),
 Row(Ticket='315037'),
 Row(Ticket='CA. 2343'),
 Row(Ticket='371362'),
 Row(Ticket='C.A. 33595'),
 Row(Ticket='347068'),
 Row(Ticket='315093'),
 Row(Ticket='3101295'),
 Row(Ticket='363291'),
 Row(Ticket='113505'),
 Row(Ticket='347088'),
 Row(Ticket='PC 17318'),
 Row(Ticket='1601'),
 Row(Ticket='111240'),
 Row(Ticket='382652'),
 Row(Ticket='347742'),
 Row(Ticket='STON/O 2. 3101280'),
 Row(Ticket='17764'),
 Row(Ticket='350404'),
 Row(Ticket='4133'),
 Row(Ticket='PC 17595'),
 Row(Ticket='250653'),
 Row(Ticket='LINE'),
 Row(Ticket='CA. 2343'),
 Row(Ticket='SC/PARIS 2131'),
 Row(Ticket='347077'),
 Row(Ticket='230136'),
 Row(Ticket='315153'),
 Row(Ticket='113767'),
 Row(Ticket='370365'),
 Row(Ticket='111428'),
 Row(Ticket='364849'),
 Row(Ticket='349247'),
 Row(Ticket='234604'),
 Row(Ticket='28424'),
 Row(Ticket='350046'),
 Row(Ticket='230080'),
 Row(Ticket='PC 17610'),
 Row(Ticket='PC 17569'),
 Row(Ticket='368703'),
 Row(Ticket='4579'),
 Row(Ticket='370370'),
 Row(Ticket='248747'),
 Row(Ticket='345770'),
 Row(Ticket='CA. 2343'),
 Row(Ticket='3101264'),
 Row(Ticket='2628'),
 Row(Ticket='A/5 3540'),
 Row(Ticket='347054'),
 Row(Ticket='3101278'),
 Row(Ticket='2699'),
 Row(Ticket='367231'),
 Row(Ticket='112277'),
 Row(Ticket='SOTON/O.Q. 3101311'),
 Row(Ticket='F.C.C. 13528'),
 Row(Ticket='A/5 21174'),
 Row(Ticket='250646'),
 Row(Ticket='367229'),
 Row(Ticket='35273'),
 Row(Ticket='STON/O2. 3101283'),
 Row(Ticket='243847'),
 Row(Ticket='11813'),
 Row(Ticket='W/C 14208'),
 Row(Ticket='SOTON/OQ 392089'),
 Row(Ticket='220367'),
 Row(Ticket='21440'),
 Row(Ticket='349234'),
 Row(Ticket='19943'),
 Row(Ticket='PP 4348'),
 Row(Ticket='SW/PP 751'),
 Row(Ticket='A/5 21173'),
 Row(Ticket='236171'),
 Row(Ticket='4133'),
 Row(Ticket='36973'),
 Row(Ticket='347067'),
 Row(Ticket='237442'),
 Row(Ticket='347077'),
 Row(Ticket='C.A. 29566'),
 Row(Ticket='W./C. 6609'),
 Row(Ticket='26707'),
 Row(Ticket='C.A. 31921'),
 Row(Ticket='28665'),
 Row(Ticket='SCO/W 1585'),
 Row(Ticket='2665'),
 Row(Ticket='367230'),
 Row(Ticket='W./C. 14263'),
 Row(Ticket='STON/O 2. 3101275'),
 Row(Ticket='2694'),
 Row(Ticket='19928'),
 Row(Ticket='347071'),
 Row(Ticket='250649'),
 Row(Ticket='11751'),
 Row(Ticket='244252'),
 Row(Ticket='362316'),
 Row(Ticket='347054'),
 Row(Ticket='113514'),
 Row(Ticket='A/5. 3336'),
 Row(Ticket='370129'),
 Row(Ticket='2650'),
 Row(Ticket='PC 17585'),
 Row(Ticket='110152'),
 Row(Ticket='PC 17755'),
 Row(Ticket='230433'),
 Row(Ticket='384461'),
 Row(Ticket='347077'),
 Row(Ticket='110413'),
 Row(Ticket='112059'),
 Row(Ticket='382649'),
 Row(Ticket='C.A. 17248'),
 Row(Ticket='3101295'),
 Row(Ticket='347083'),
 Row(Ticket='PC 17582'),
 Row(Ticket='PC 17760'),
 Row(Ticket='113798'),
 Row(Ticket='LINE'),
 Row(Ticket='250644'),
 Row(Ticket='PC 17596'),
 Row(Ticket='370375'),
 Row(Ticket='13502'),
 Row(Ticket='347073'),
 Row(Ticket='239853'),
 Row(Ticket='382652'),
 Row(Ticket='C.A. 2673'),
 Row(Ticket='336439'),
 Row(Ticket='347464'),
 Row(Ticket='345778'),
 Row(Ticket='A/5. 10482'),
 Row(Ticket='113056'),
 Row(Ticket='349239'),
 Row(Ticket='345774'),
 Row(Ticket='349206'),
 Row(Ticket='237798'),
 Row(Ticket='370373'),
 Row(Ticket='19877'),
 Row(Ticket='11967'),
 Row(Ticket='SC/Paris 2163'),
 Row(Ticket='349236'),
 Row(Ticket='349233'),
 Row(Ticket='PC 17612'),
 Row(Ticket='2693'),
 Row(Ticket='113781'),
 Row(Ticket='19988'),
 Row(Ticket='PC 17558'),
 Row(Ticket='9234'),
 Row(Ticket='367226'),
 Row(Ticket='LINE'),
 Row(Ticket='226593'),
 Row(Ticket='A/5 2466'),
 Row(Ticket='113781'),
 Row(Ticket='17421'),
 Row(Ticket='PC 17758'),
 Row(Ticket='P/PP 3381'),
 Row(Ticket='PC 17485'),
 Row(Ticket='11767'),
 Row(Ticket='PC 17608'),
 Row(Ticket='250651'),
 Row(Ticket='349243'),
 Row(Ticket='F.C.C. 13529'),
 Row(Ticket='347470'),
 Row(Ticket='244367'),
 Row(Ticket='29011'),
 Row(Ticket='36928'),
 Row(Ticket='16966'),
 Row(Ticket='A/5 21172'),
 Row(Ticket='349219'),
 Row(Ticket='234818'),
 Row(Ticket='248738'),
 Row(Ticket='CA. 2343'),
 Row(Ticket='PC 17760'),
 Row(Ticket='345364'),
 Row(Ticket='28551'),
 Row(Ticket='363291'),
 Row(Ticket='111361'),
 Row(Ticket='367226'),
 Row(Ticket='113043'),
 Row(Ticket='PC 17582'),
 Row(Ticket='345764'),
 Row(Ticket='PC 17611'),
 Row(Ticket='349225'),
 Row(Ticket='113776'),
 Row(Ticket='16966'),
 Row(Ticket='7598'),
 Row(Ticket='113784'),
 Row(Ticket='230080'),
 Row(Ticket='19950'),
 Row(Ticket='248740'),
 Row(Ticket='244361'),
 Row(Ticket='229236'),
 Row(Ticket='248733'),
 Row(Ticket='31418'),
 Row(Ticket='386525'),
 Row(Ticket='C.A. 37671'),
 Row(Ticket='315088'),
 Row(Ticket='7267'),
 Row(Ticket='113510'),
 Row(Ticket='2695'),
 Row(Ticket='349237'),
 Row(Ticket='2647'),
 Row(Ticket='345783'),
 Row(Ticket='113505'),
 Row(Ticket='237671'),
 Row(Ticket='330931'),
 Row(Ticket='330980'),
 Row(Ticket='347088'),
 Row(Ticket='SC/PARIS 2167'),
 Row(Ticket='2691'),
 Row(Ticket='SOTON/O.Q. 3101310'),
 Row(Ticket='370365'),
 Row(Ticket='C 7076'),
 Row(Ticket='110813'),
 Row(Ticket='2626'),
 Row(Ticket='14313'),
 Row(Ticket='PC 17477'),
 Row(Ticket='11765'),
 Row(Ticket='3101267'),
 Row(Ticket='323951'),
 Row(Ticket='PC 17760'),
 Row(Ticket='349909'),
 Row(Ticket='PC 17604'),
 Row(Ticket='C 7077'),
 Row(Ticket='113503'),
 Row(Ticket='2648'),
 Row(Ticket='347069'),
 Row(Ticket='PC 17757'),
 Row(Ticket='2653'),
 Row(Ticket='STON/O 2. 3101293'),
 Row(Ticket='113789'),
 Row(Ticket='349227'),
 Row(Ticket='S.O.C. 14879'),
 Row(Ticket='CA 2144'),
 Row(Ticket='27849'),
 Row(Ticket='367655'),
 Row(Ticket='SC 1748'),
 Row(Ticket='113760'),
 Row(Ticket='350034'),
 Row(Ticket='3101277'),
 Row(Ticket='35273'),
 Row(Ticket='PP 9549'),
 Row(Ticket='350052'),
 Row(Ticket='350407'),
 Row(Ticket='28403'),
 Row(Ticket='244278'),
 Row(Ticket='240929'),
 Row(Ticket='STON/O 2. 3101289'),
 Row(Ticket='341826'),
 Row(Ticket='4137'),
 Row(Ticket='STON/O2. 3101279'),
 Row(Ticket='315096'),
 Row(Ticket='28664'),
 Row(Ticket='347064'),
 Row(Ticket='29106'),
 Row(Ticket='312992'),
 Row(Ticket='4133'),
 Row(Ticket='349222'),
 Row(Ticket='394140'),
 Row(Ticket='19928'),
 Row(Ticket='239853'),
 Row(Ticket='STON/O 2. 3101269'),
 Row(Ticket='343095'),
 Row(Ticket='28220'),
 Row(Ticket='250652'),
 Row(Ticket='28228'),
 Row(Ticket='345773'),
 Row(Ticket='349254'),
 Row(Ticket='A/5. 13032'),
 Row(Ticket='315082'),
 Row(Ticket='347080'),
 Row(Ticket='370129'),
 Row(Ticket='A/4. 34244'),
 Row(Ticket='2003'),
 Row(Ticket='250655'),
 Row(Ticket='364851'),
 Row(Ticket='SOTON/O.Q. 392078'),
 Row(Ticket='110564'),
 Row(Ticket='376564'),
 Row(Ticket='SC/AH 3085'),
 Row(Ticket='STON/O 2. 3101274'),
 Row(Ticket='13507'),
 Row(Ticket='113760'),
 Row(Ticket='W./C. 6608'),
 Row(Ticket='29106'),
 Row(Ticket='19950'),
 Row(Ticket='C.A. 18723'),
 Row(Ticket='F.C.C. 13529'),
 Row(Ticket='345769'),
 Row(Ticket='347076'),
 Row(Ticket='230434'),
 Row(Ticket='65306'),
 Row(Ticket='33638'),
 Row(Ticket='250644'),
 Row(Ticket='113794'),
 Row(Ticket='2666'),
 Row(Ticket='113786'),
 Row(Ticket='C.A. 34651'),
 Row(Ticket='65303'),
 Row(Ticket='113051'),
 Row(Ticket='17453'),
 Row(Ticket='A/5 2817'),
 Row(Ticket='349240'),
 Row(Ticket='13509'),
 Row(Ticket='17464'),
 Row(Ticket='F.C.C. 13531'),
 Row(Ticket='371060'),
 Row(Ticket='19952'),
 Row(Ticket='364506'),
 Row(Ticket='111320'),
 Row(Ticket='234360'),
 Row(Ticket='A/S 2816'),
 Row(Ticket='SOTON/O.Q. 3101306'),
 Row(Ticket='239853'),
 Row(Ticket='113792'),
 Row(Ticket='36209'),
 Row(Ticket='2666'),
 Row(Ticket='323592'),
 Row(Ticket='315089'),
 Row(Ticket='C.A. 34651'),
 Row(Ticket='SC/AH Basle 541'),
 Row(Ticket='7553'),
 Row(Ticket='110465'),
 Row(Ticket='31027'),
 Row(Ticket='3460'),
 Row(Ticket='350060'),
 Row(Ticket='3101298'),
 Row(Ticket='CA 2144'),
 Row(Ticket='239854'),
 Row(Ticket='A/5 3594'),
 Row(Ticket='4134'),
 Row(Ticket='11967'),
 Row(Ticket='4133'),
 Row(Ticket='19943'),
 Row(Ticket='11771'),
 Row(Ticket='A.5. 18509'),
 Row(Ticket='C.A. 37671'),
 Row(Ticket='65304'),
 Row(Ticket='SOTON/OQ 3101317'),
 Row(Ticket='113787'),
 Row(Ticket='PC 17609'),
 Row(Ticket='A/4 45380'),
 Row(Ticket='2627'),
 Row(Ticket='36947'),
 Row(Ticket='C.A. 6212'),
 Row(Ticket='113781'),
 Row(Ticket='350035'),
 Row(Ticket='315086'),
 Row(Ticket='364846'),
 Row(Ticket='330909'),
 Row(Ticket='4135'),
 Row(Ticket='110152'),
 Row(Ticket='PC 17758'),
 Row(Ticket='26360'),
 Row(Ticket='111427'),
 Row(Ticket='C 4001'),
 Row(Ticket='1601'),
 Row(Ticket='382651'),
 Row(Ticket='SOTON/OQ 3101316'),
 Row(Ticket='PC 17473'),
 Row(Ticket='PC 17603'),
 Row(Ticket='349209'),
 Row(Ticket='36967'),
 Row(Ticket='C.A. 34260'),
 Row(Ticket='371110'),
 Row(Ticket='226875'),
 Row(Ticket='349242'),
 Row(Ticket='12749'),
 Row(Ticket='349252'),
 Row(Ticket='2624'),
 Row(Ticket='111361'),
 Row(Ticket='2700'),
 Row(Ticket='367232'),
 Row(Ticket='W./C. 14258'),
 Row(Ticket='PC 17483'),
 Row(Ticket='3101296'),
 Row(Ticket='29104'),
 Row(Ticket='26360'),
 Row(Ticket='2641'),
 Row(Ticket='2690'),
 Row(Ticket='2668'),
 Row(Ticket='315084'),
 Row(Ticket='F.C.C. 13529'),
 Row(Ticket='113050'),
 Row(Ticket='PC 17761'),
 Row(Ticket='364498'),
 Row(Ticket='13568'),
 Row(Ticket='WE/P 5735'),
 Row(Ticket='347082'),
 Row(Ticket='347082'),
 Row(Ticket='2908'),
 Row(Ticket='PC 17761'),
 Row(Ticket='693'),
 Row(Ticket='2908'),
 Row(Ticket='SC/PARIS 2146'),
 Row(Ticket='363291'),
 Row(Ticket='C.A. 33112'),
 Row(Ticket='17421'),
 Row(Ticket='244358'),
 Row(Ticket='330979'),
 Row(Ticket='2620'),
 Row(Ticket='347085'),
 Row(Ticket='113807'),
 Row(Ticket='11755'),
 Row(Ticket='PC 17757'),
 Row(Ticket='110413'),
 Row(Ticket='345572'),
 Row(Ticket='372622'),
 Row(Ticket='349251'),
 Row(Ticket='218629'),
 Row(Ticket='SOTON/OQ 392082'),
 Row(Ticket='SOTON/O.Q. 392087'),
 Row(Ticket='A/4 48871'),
 Row(Ticket='349205'),
 Row(Ticket='349909'),
 Row(Ticket='2686'),
 Row(Ticket='350417'),
 Row(Ticket='S.W./PP 752'),
 Row(Ticket='11769'),
 Row(Ticket='PC 17474'),
 Row(Ticket='14312'),
 Row(Ticket='A/4. 20589'),
 Row(Ticket='358585'),
 Row(Ticket='243880'),
 Row(Ticket='13507'),
 Row(Ticket='2689'),
 Row(Ticket='STON/O 2. 3101286'),
 Row(Ticket='237789'),
 Row(Ticket='17421'),
 Row(Ticket='28403'),
 Row(Ticket='13049'),
 Row(Ticket='3411'),
 Row(Ticket='110413'),
 Row(Ticket='237565'),
 Row(Ticket='13567'),
 Row(Ticket='14973'),
 Row(Ticket='A./5. 3235'),
 Row(Ticket='STON/O 2. 3101273'),
 Row(Ticket='36947'),
 Row(Ticket='A/5 3902'),
 Row(Ticket='364848'),
 Row(Ticket='SC/AH 29037'),
 Row(Ticket='345773'),
 Row(Ticket='248727'),
 Row(Ticket='LINE'),
 Row(Ticket='2664'),
 Row(Ticket='PC 17485'),
 Row(Ticket='243847'),
 Row(Ticket='349214'),
 Row(Ticket='113796'),
 Row(Ticket='364511'),
 Row(Ticket='111426'),
 Row(Ticket='349910'),
 Row(Ticket='349246'),
 Row(Ticket='113804'),
 Row(Ticket='SC/Paris 2123'),
 Row(Ticket='PC 17582'),
 Row(Ticket='347082'),
 Row(Ticket='SOTON/O.Q. 3101305'),
 Row(Ticket='367230'),
 Row(Ticket='370377'),
 Row(Ticket='364512'),
 Row(Ticket='220845'),
 Row(Ticket='347080'),
 Row(Ticket='A/5. 3336'),
 Row(Ticket='230136'),
 Row(Ticket='31028'),
 Row(Ticket='2659'),
 Row(Ticket='11753'),
 Row(Ticket='2653'),
 Row(Ticket='350029'),
 Row(Ticket='54636'),
 Row(Ticket='36963'),
 Row(Ticket='219533'),
 Row(Ticket='13502'),
 Row(Ticket='349224'),
 Row(Ticket='334912'),
 Row(Ticket='27042'),
 Row(Ticket='347743'),
 Row(Ticket='13214'),
 Row(Ticket='112052'),
 Row(Ticket='347088'),
 Row(Ticket='237668'),
 Row(Ticket='STON/O 2. 3101292'),
 Row(Ticket='C.A. 31921'),
 Row(Ticket='3101295'),
 Row(Ticket='376564'),
 Row(Ticket='350050'),
 Row(Ticket='PC 17477'),
 Row(Ticket='347088'),
 Row(Ticket='1601'),
 Row(Ticket='2666'),
 Row(Ticket='PC 17572'),
 Row(Ticket='349231'),
 Row(Ticket='13213'),
 Row(Ticket='S.O./P.P. 751'),
 Row(Ticket='CA. 2314'),
 Row(Ticket='349221'),
 Row(Ticket='231919'),
 Row(Ticket='8475'),
 Row(Ticket='330919'),
 Row(Ticket='365226'),
 Row(Ticket='S.O.C. 14879'),
 Row(Ticket='349223'),
 Row(Ticket='364849'),
 Row(Ticket='29751'),
 Row(Ticket='35273'),
 Row(Ticket='PC 17611'),
 Row(Ticket='2623'),
 Row(Ticket='5727'),
 Row(Ticket='349210'),
 Row(Ticket='STON/O 2. 3101285'),
 Row(Ticket='S.O.C. 14879'),
 Row(Ticket='234686'),
 Row(Ticket='312993'),
 Row(Ticket='A/5 3536'),
 Row(Ticket='19996'),
 Row(Ticket='29750'),
 Row(Ticket='F.C. 12750'),
 Row(Ticket='C.A. 24580'),
 Row(Ticket='244270'),
 Row(Ticket='239856'),
 Row(Ticket='349912'),
 Row(Ticket='342826'),
 Row(Ticket='4138'),
 Row(Ticket='CA 2144'),
 Row(Ticket='PC 17755'),
 Row(Ticket='330935'),
 Row(Ticket='PC 17572'),
 Row(Ticket='6563'),
 Row(Ticket='CA 2144'),
 Row(Ticket='29750'),
 Row(Ticket='SC/Paris 2123'),
 Row(Ticket='3101295'),
 Row(Ticket='349228'),
 Row(Ticket='350036'),
 Row(Ticket='24160'),
 Row(Ticket='17474'),
 Row(Ticket='349256'),
 Row(Ticket='1601'),
 Row(Ticket='2672'),
 Row(Ticket='113800'),
 Row(Ticket='248731'),
 Row(Ticket='363592'),
 Row(Ticket='35852'),
 Row(Ticket='17421'),
 Row(Ticket='348121'),
 Row(Ticket='PC 17757'),
 Row(Ticket='PC 17475'),
 Row(Ticket='2691'),
 Row(Ticket='36864'),
 Row(Ticket='350025'),
 Row(Ticket='250655'),
 Row(Ticket='223596'),
 Row(Ticket='PC 17476'),
 Row(Ticket='113781'),
 Row(Ticket='2661'),
 Row(Ticket='PC 17482'),
 Row(Ticket='113028'),
 Row(Ticket='19996'),
 Row(Ticket='7545'),
 Row(Ticket='250647'),
 Row(Ticket='348124'),
 Row(Ticket='PC 17757'),
 Row(Ticket='34218'),
 Row(Ticket='36568'),
 Row(Ticket='347062'),
 Row(Ticket='248727'),
 Row(Ticket='350048'),
 Row(Ticket='12233'),
 Row(Ticket='250643'),
 Row(Ticket='113806'),
 Row(Ticket='315094'),
 Row(Ticket='31027'),
 Row(Ticket='36866'),
 Row(Ticket='236853'),
 Row(Ticket='STON/O2. 3101271'),
 Row(Ticket='24160'),
 Row(Ticket='2699'),
 Row(Ticket='239855'),
 Row(Ticket='28425'),
 Row(Ticket='233639'),
 Row(Ticket='54636'),
 Row(Ticket='W./C. 6608'),
 Row(Ticket='PC 17755'),
 Row(Ticket='349201'),
 Row(Ticket='349218'),
 Row(Ticket='16988'),
 Row(Ticket='19877'),
 Row(Ticket='PC 17608'),
 Row(Ticket='376566'),
 Row(Ticket='STON/O 2. 3101288'),
 Row(Ticket='WE/P 5735'),
 Row(Ticket='C.A. 2673'),
 Row(Ticket='250648'),
 Row(Ticket='113773'),
 Row(Ticket='335097'),
 Row(Ticket='29103'),
 Row(Ticket='392096'),
 Row(Ticket='345780'),
 Row(Ticket='349204'),
 Row(Ticket='220845'),
 Row(Ticket='250649'),
 Row(Ticket='350042'),
 Row(Ticket='29108'),
 Row(Ticket='363294'),
 Row(Ticket='110152'),
 Row(Ticket='358585'),
 Row(Ticket='SOTON/O2 3101272'),
 Row(Ticket='2663'),
 Row(Ticket='113760'),
 Row(Ticket='347074'),
 Row(Ticket='13502'),
 Row(Ticket='112379'),
 Row(Ticket='364850'),
 Row(Ticket='371110'),
 Row(Ticket='8471'),
 Row(Ticket='345781'),
 Row(Ticket='350047'),
 Row(Ticket='S.O./P.P. 3'),
 Row(Ticket='2674'),
 Row(Ticket='29105'),
 Row(Ticket='347078'),
 Row(Ticket='383121'),
 Row(Ticket='364516'),
 Row(Ticket='36865'),
 Row(Ticket='24160'),
 Row(Ticket='2687'),
 Row(Ticket='17474'),
 Row(Ticket='113501'),
 Row(Ticket='W./C. 6607'),
 Row(Ticket='SOTON/O.Q. 3101312'),
 Row(Ticket='374887'),
 Row(Ticket='3101265'),
 Row(Ticket='382652'),
 Row(Ticket='C.A. 2315'),
 Row(Ticket='PC 17593'),
 Row(Ticket='12460'),
 Row(Ticket='239865'),
 Row(Ticket='CA. 2343'),
 Row(Ticket='PC 17600'),
 Row(Ticket='349203'),
 Row(Ticket='28213'),
 Row(Ticket='17465'),
 Row(Ticket='349244'),
 Row(Ticket='2685'),
 Row(Ticket='345773'),
 Row(Ticket='250647'),
 Row(Ticket='C.A. 31921'),
 Row(Ticket='113760'),
 Row(Ticket='2625'),
 Row(Ticket='347089'),
 Row(Ticket='347063'),
 Row(Ticket='112050'),
 Row(Ticket='347087'),
 Row(Ticket='248723'),
 Row(Ticket='113806'),
 Row(Ticket='3474'),
 Row(Ticket='A/4 48871'),
 Row(Ticket='28206'),
 Row(Ticket='347082'),
 Row(Ticket='364499'),
 Row(Ticket='112058'),
 Row(Ticket='STON/O2. 3101290'),
 Row(Ticket='S.C./PARIS 2079'),
 Row(Ticket='C 7075'),
 Row(Ticket='347088'),
 Row(Ticket='12749'),
 Row(Ticket='315098'),
 Row(Ticket='19972'),
 Row(Ticket='392096'),
 Row(Ticket='3101295'),
 Row(Ticket='368323'),
 Row(Ticket='1601'),
 Row(Ticket='S.C./PARIS 2079'),
 Row(Ticket='367228'),
 Row(Ticket='113572'),
 Row(Ticket='2659'),
 Row(Ticket='29106'),
 Row(Ticket='2671'),
 Row(Ticket='347468'),
 Row(Ticket='2223'),
 Row(Ticket='PC 17756'),
 Row(Ticket='315097'),
 Row(Ticket='392092'),
 Row(Ticket='1601'),
 Row(Ticket='11774'),
 Row(Ticket='SOTON/O2 3101287'),

In [25]:
titanic.select('Ticket').collect()[0]

Row(Ticket='A/5 21171')